$color-red: #ff6b6b;
$color-red-2: #D12400;
$color-red-3: #B01D01;
$color-yellow: #ff9f43;
$color-green: #10ac84;
$color-grey: #7e7e7e;

%clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

body {
  width: 100%;
  height: 100vh;
  padding-top: 70px;
  background: #EEEEEC;
}
.flash-error {
  position: fixed;
  left: 0;
  top: 42px;
  padding: 10px 0;
  width: 100%;
  z-index: 100;
  background: rgba($color-red-3, .7);
  text-align: center;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
}
.user-form-error {
  * {
    color: $color-red-2
  }
}

.task {
  &.yellow {
    box-shadow: 0 0 10px $color-yellow;
    // background: $color-yellow;
  }
  &.red {
    box-shadow: 0 0 10px $color-red;
    // background: $color-red;
  }
  &.red-3 {
    box-shadow: 0 0 10px $color-red-3;
    // background: $color-red-3;
  }
  &.complete {
    box-shadow: 0 0 10px $color-green;
    // background: $color-green;
  }
}

.shadow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 15px #ccc;
}

.update-btn {
  border: none;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 5px 10px;
  font-size: 14px;
  background: #fff;
  box-shadow: 0px 0px 15px #ccc;
  cursor: pointer;
}

* {
  font-family: 'Noto Sans TC', sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 22px;
  color: #fff;
  font-weight: normal;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
}

header {
  @extend %clearfix;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 45px;
  background: $color-green;
  

  > .logo {
    float: left;
  }

  > .nav-bar {
    float: right;
    ul {
      @extend %clearfix;
      li, a {
        line-height: 32px;
      }
      li {
        padding: 0 15px;
        float: left;
        color: #fff
      }
      a {
        color: #fff
      }
    }
  }
}

.container {
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

[class ^='col-'] {
  padding: 0 15px;
}

.col-3 {
  margin-bottom: 30px;
  width: 33.333333%;
}

.task-wrapper {
  a {
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    letter-spacing: 1px;
  }
}

.table-action {
  margin-top: 40px;
  padding-left: 30px;
  a {
    background: $color-green;
  }
  h3 {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  ul {
    display: flex;
    margin-bottom: 30px;
    li + li {
      margin-left: 10px;
    }
  }
}

.tasks-table {
  padding-top: 30px;
  padding-bottom: 30px;
}

.task {
  border-radius: 10px;
  height: 100%;
  background: #fff;
  line-height: 1.6;
  font-size: 20px;
  letter-spacing: 1px;
  * {
    color: $color-grey;
  }
  a {
    display: block;
    padding: 20px;
    height: 100%;
  }
  h3.title {
    margin-bottom: 10px;
  }
  .status-wrap, .order-wrap, .end-time-wrap { 
    display: flex;
    align-items: center;
  }
  .content-wrap {
    margin-bottom: 20px;
    h4 {
      margin-bottom: 5px;
    }
    .content {
      border-radius: 10px;
      border: 1px solid $color-grey;
      padding: 10px;
      height: 150px;
      overflow-y: scroll;
    }
  }
}

// inner-page
.task-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #EEEEEC;
  i {
    color: $color-grey;
  }
  h1 {
    font-size: 36px;
    color: $color-grey;
  }
  .back {
    color: $color-grey;
    i {
      display: inline-block;
      padding-right: 5px;
      font-size: 15px;
    }
  }
}
.task-card, .member-card {
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  height: auto;
  background: #fff;
  box-shadow: 0px 0px 15px #ccc;
  overflow: hidden;
}
.task-card {
  span, label {
    font-size: 18px;
    line-height: 1.8;
  }
  .task-info {
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 30px;
    h2.title {
      margin-bottom: 10px;
      font-size: 36px;
      font-weight: bold;
    }
    .content p {
      font-size: 18px;
      line-height: 1.5;
    }
  }
  .link {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0px 0px 15px #ccc;
      & + a {
        margin-left: 30px;
      }
      i {
        font-size: 20px;
      }
    }
  }

  &.form {
    form > [class^= 'task-'] {
      margin: 15px 0;
    }
    textarea, input {
      outline: none;
    }
    textarea, input[type="text"] {
      border: 1px solid $color-grey;
      padding: 2px 5px;
    }
    textarea {
      width: 100%;
    }
  }
}



// login, registation page 
.member-system {
  height: 100%;
  h1.title {
    font-size: 22px;
    color: $color-grey;
  }
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
      display: block;
      padding-bottom: 5px;
      font-size: 18px;
      letter-spacing: 1px;
    }
    [class ^= 'user-'] {
      margin: 20px 0;
    }
    form, input {
      width: 100%;;
    }
    input[type="text"], input[type="password"] {
      border: 1px solid $color-grey;
      padding: 10px 15px;
    }
    input[type="submit"] {
      border: none;
      padding: 5px 15px;
      background: $color-green;
      width: auto;
      color: #fff;
      font-size: 16px;
    }

  }
}



