<div class="task-card-wrapper">
  <h1>編輯任務</h1>
  
  <%= render 'form', task: @task %>

  <%= link_to task_path(params[:id]), class: 'back' do %>
    <i class="fas fa-arrow-left"></i>回任務
  <% end %>
  <%= link_to :root, class: 'back' do %>
    <i class="fas fa-arrow-left"></i>回列表
  <% end %>
</div>