<div class="task-card-wrapper">
  <h1>新增任務</h1>

  <% if @task.errors.any? %>
    <ul>
      <% @task.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= render 'form', task: @task %>
</div>


