$color-red: #ff6b6b;
$color-red-2: #D12400;
$color-red-3: #B01D01;
$color-yellow: #ff9f43;
$color-green: #10ac84;

.task {
  &.yellow {
    background: $color-yellow;
  }
  &.red {
    background: $color-red;
  }
  &.red-3 {
    background: $color-red-3;
  }
  &.complete {
    background: $color-green;
  }
}

* {
  font-family: 'Noto Sans TC', sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 22px;
  color: #fff;
  font-weight: normal;
  letter-spacing: 2px;
  padding: 5px 10px;
}

a {
  text-decoration: none;
}

header {
  background: $color-green;
}

.container {
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  margin-left: -30px;
}

[class ^='col-'] {
  padding: 0 15px;
}

.col-3 {
  width: 33.333333%;
}

.task-wrapper {
  a {
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    letter-spacing: 1px;
  }
}

.table-action {
  margin-top: 40px;
  a {
    background: $color-green;
  }
  h3 {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  ul {
    display: flex;
    margin-bottom: 30px;
    li + li {
      margin-left: 10px;
    }
  }
}

.tasks-table {
  padding-top: 30px;
  padding-bottom: 30px;
}

.task {
  border-radius: 15px;
  margin-bottom: 20px;
  background: $color-yellow;
  color: #fff;
  line-height: 1.6;
  font-size: 20px;
  letter-spacing: 1px;
  a {
    display: block;
    padding: 20px;
  }
}



// pagiantion
.pagination {
  // a {
  //   color: #000;
  // }
}

// show page 
.show-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #EEEEEC;
  i {
    color: #7e7e7e;
  }
  .task-box {
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    height: auto;
    background: #fff;
    box-shadow: 0px 0px 15px #ccc;
    .task-info {
      border-bottom: 1px solid #000;
      margin-bottom: 30px;
      padding-top: 15px;
      padding-bottom: 30px;
      span {
        font-size: 20px;
        line-height: 1.8;
      }
      h2.title {
        margin-bottom: 10px;
        font-size: 36px;
        font-weight: bold;
      }
      .content p {
        font-size: 20px;
        line-height: 1.5;
      }
    }
    .link {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0px 0px 15px #ccc;
        & + a {
          margin-left: 30px;
        }
        i {
          font-size: 20px;
        }
      }
    }
  }
  
  .back {
    color: #7e7e7e;
    i {
      display: inline-block;
      padding-right: 5px;
      font-size: 15px;
    }
  }
}